## BOARD PINS
[board_pins EBB36_G0B1_v1.2] 
mcu: can0
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

## can0
[mcu can0]
# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
#canbus_uuid: 554e72f68a49 
#canbus_uuid: be31d2e5af35
canbus_uuid: 73e4cbe1663b

# onboard temp
[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: can0

[adxl345]
cs_pin: can0:ADXL_CS
spi_software_sclk_pin: can0:ADXL_SCLK
spi_software_mosi_pin: can0:ADXL_MOSI
spi_software_miso_pin: can0:ADXL_MISO
axes_map: x,y,z

#[temperature_sensor PT100]
#sensor_type: MAX31865
#sensor_pin: can0:PT100_CS
#spi_bus: spi1
#min_temp: -50
#max_temp: 350
#rtd_reference_r: 430

[heater_fan hotend_fan]
pin: can0:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#fan_speed: 0.5

## PART COOLING
[fan]
pin: can0:FAN1
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

## EXTRUDER 
[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16

max_extrude_cross_section: 30
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: can0:HE0

sensor_pin: can0:TH0
sensor_type: ATC Semitec 104NT-4-R025H42G #ATC Semitec 104GT-2  # this is the default for the Revo heater
#pullup_resistor: 2200             # this is the default for the Revo heater

#sensor_type:MAX31865
#sensor_pin: can0:PT100_CS
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2

control: pid
pid_Kp: 36.050
pid_Ki: 4.292
pid_Kd: 75.705
min_temp: -50
max_temp: 310

pressure_advance: 0.035 #fusion abs #0.026 # 0.0275

#8/24/2023 pid_Kp=36.050 pid_Ki=4.292 pid_Kd=75.705
#6/1/2023 pid_Kp=34.133 pid_Ki=4.214 pid_Kd=69.119
#5/22/2023 pid_Kp=35.153 pid_Ki=4.507 pid_Kd=68.547
#5/21/2023 pid_Kp=30.814 pid_Ki=4.109 pid_Kd=57.777
#pid_Kp=23.466 pid_Ki=1.435 pid_Kd=95.918
#pid_Kp=23.929 pid_Ki=1.491 pid_Kd=96.013

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

[resonance_tester]
accel_chip: adxl345
probe_points: 90,90,90

## RGB
#[neopixel my_neopixel]
#pin: can0:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0



